/* --- styles for lists under the name --- */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* --- Styles for my Information (Left-side) --- */
.my_info h3 {
    transform: translate(0%, 40%);
}


.my_info {
    background: #83c3ff;
}


li {
    white-space:  nowrap;           /* To put all icons and information in one line */
}
/* --- End of styles for information (left-side) --- */


/* --- Margin for "Contact Me" on the right-side to move it up --- */
.contact h3 {
    margin:auto;
    margin-bottom: 7%;
}


/* --- Styles for contact section (right-side) --- */
.contact_page {
    box-shadow: 0 0 5px 0 rgba(135, 255, 229, 0.767);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #e9f4f7;
}


.contact form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    grid-gap: 50px;
}


.contact form label {
    display: block;
}


.contact form p {
    margin: 0%;
}


.contact form .full {
    grid-column: 1/3;
}


.contact form button, .contact form input, .contact form textarea {
    width: 80%;
    padding: 1em;
    border: 2px solid #c9e6ff;
    margin-top: 10px;
}


.contact form button {
    background: #3689db;
    color: white;
    font-size: 17px;
    outline: 0;
    transition: background-color 1s ease-out;
}


.my_info h3, .my_info ul {
    text-align: left;
    margin: 30px;
    padding: 20px;
}
/* --- End of Styles for contact section (right-side) --- */


/* --- Responsive --- */
@media(min-width:700px) {
    .contact_page{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .contact_page > *{
      padding:2em;
    }
    
  }