/* --- General website style --- */
body {
  margin: 0;
  font-family: 'Century Gothic', monospace;
  font-size: 18px;
  background-color: #f0ece4;  
  text-align: center;
}


/* --- Navigation Style --- */
nav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color:rgb(135, 195, 255);
  font-weight: 700;
  display: flex;        /* Set to flex so the name goes to the left of the page */
}


nav li {
  float:right;          /* Floats rest of the tabs to the right */
}


nav li a {
  display: block;
  color: white;
  font-weight: 500;
  padding: 10px 12px;
  text-decoration: none;
}


nav li a:hover:not(.active) {
  color: #0d3b4c;
}  


nav li a.active {
  color: #389dc5;
  background-color: #f0ece4;      
}


nav li.name {
  padding: 6px;
  color:#073a4e;
  font-size: 20px;
  margin-right: auto;
  text-align: left;
  cursor: pointer;
  
}


nav li.name a {
  padding: 1px;
  color:#073a4e;
  font-size: 20px;
  margin-right: auto;
  text-align: left;
  font-weight:700;
}
/* --- End of Navigation Style --- */


/* --- Style for Inner area of the website (White space area) --- */
article {
  margin:3% 5% 5% 5%;
  background-color: ghostwhite;
  padding: 3%;
  border-radius: 5px;
}


article h1 {
  color:#124e64;
  text-decoration: underline;
  padding-bottom: 25px;
}


article h2 {
  color:#262626;
  text-decoration:underline;
  padding-top: 30px;
  padding-bottom: 10px;
}


article h3 {
  padding-top: 20px;
  text-align:center;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 80px;
}


article h4 {
  color:#e55743;
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 80px;
}
/* --- End of the style for inner area of the website (white space area) --- */


/*--- Style for external link to resume --- */
.resume {
  color:#06c0a8;
}


.resume:hover {
  background-color: #06c0a8;
  color: #ffffff;
}
/* --- End of style for external link resume --- */


/* --- Hyperlink Style --- */
a {
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #389dc5;
  text-decoration: none;
}
/* --- End Hyperlink Style --- */


/* --- Footer Styles --- */
footer {
  position: block;
  border-radius: 5px;
  color: black;
  text-align: center;
}


footer ul li {
  display: inline-block;
}
/* --- End of Footer Styles --- */


/* --- Social link styles --- */
.social {
  margin: auto 5px;
  float:left;
  width: 40px;
  height: 38px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .5s ease-in-out;
  -ms-transform: translate (-50%, -50%);
  transform: translate(-50%, -20%);
  top: 50%;
  left: 50%;
  
}


.social:hover {
  opacity: 0.4;
}
/* --- End of social link styles --- */


/* --- Button Styles --- */
.button {
  --offset: 10px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  -ms-transform: translate (-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}


.button:hover {
  background: rgba(100, 0, 0, 0.03);
}


.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}


.button__horizontal::before, .button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}


.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}


.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}


.button:hover .button__horizontal {
  transform: scaleX(0);
}


.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}


.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}


.button:hover .button__vertical {
  transform: scaleY(0);
}
/* --- End of Button Styles --- */


/* --- Style for my image on the Home Page --- */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.container_image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("images/me.JPG");
  background-size: cover;
  transition: ease-in-out 0.3s;
  z-index: 2;
}


.container_image:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out 0.4s;
  border-radius: 120px;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}


.container_image .container_info {
  position: relative;
  line-height: 1.8;
  transition: ease-in-out 0.3s;
  opacity: 0;
}


.container_image .container_location {
  transition-delay: 0.15s;
}


.container_image:hover {
  border-radius: 100px;
  width: 450px;
  height: 410px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 
  0px 2px 6px rgba(9, 55, 53, 0.08), 
  0px 16px 24px rgba(9, 55, 53, 0.1), 
  0px 24px 32px rgba(9, 55, 53, 0.14);
}


.container_image:hover:before {
  width: 100%;
  opacity: 0.18;
  filter: blur(10px) saturate(100%);
  transform: scale(2.8) translate3d(-18%, 0px, 0px);
}


.container_image:hover .container_info {
  transform: translate3d(-80%, 0px, 0px);
  opacity: 1;
}


.link {
  border-bottom: 1px solid transparent;
  color: #06c0a8;
  text-decoration: none;
  transition: ease-in 0.13s;
}


.link:hover {
  background-color: #06c0a8;
  color: #ffffff;
}
/* --- End of style for my image on the Home Page --- */


/* --- Card Styles --- */
.card {
  position:relative;
  display:inline-block;
  margin: 80px;
  margin-bottom: 40px;
  width: 300px;
  height: 400px;
  background: #262626;
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
  
}


.card .img,
.card .details {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
}


.card .img {
  top: 0;
  left: 0;
}


.card:hover .img {
  top: 0;
  left: -100%;
  
}


.card .img img {
  width: 100%;
  height: 80%;
}


.card .details {
  background: #262626;
  top: 0;
  left: 100%;
  padding: 30px 30px;
  overflow-y:scroll;
  scrollbar-color: rgb(196, 196, 196) #262626;
  scrollbar-width: thin;
}


.card:hover .details {
  top: 0;
  left: 0%;
}


.card .details h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}


.card .details p {
  margin: 20px 0 0;
  color: #fff;
}


.card .img p {
  color: #fff;
  font-size: 23px;
}
/* --- End of Card Styles --- */


/* --- Styles for unordered lists on the Home Page --- */
.skills li {
  border-radius: 6px;
  background:#389dc5;
  color: white;
  margin: 5px;
  display:inline-block;
  font-size: 20px;
  padding: 5px 10px;
  transform: translate(-15%, 0%);
}


.skills li:nth-child(odd) {
  background: white;
  color:black;
}


.hobbies li {
  border-radius: 6px;
  background:beige;
  color:#124e64;
  margin: 5px;
  display:inline-block;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  transform: translate(-17%, 0%);
}


.hobbies li:nth-child(odd) {
  background: lavender;
  color: rgb(0, 75, 34);
}
/* --- End of styles for unordered lists on the Home Page --- */